@model IEnumerable<Nhom04MidTest.Data.Sale>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Mã Khách Hàng
            </th>
            <th>
                Tên khách hàng
            </th>
            <th>
                Ngày sinh
            </th>
            <th>
                Nhãn hiệu
            </th>
            <th>
                Model
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td hidden >
                @Html.DisplayFor(modelItem => item.Discount)
            </td>
            <td hidden>
                @Html.DisplayFor(modelItem => item.Car.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.BirthDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Make)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
